body {
    margin: 0;
    padding: 0;
    background-color: #000;
    overflow: hidden;
    user-select: none;
    font-family: 'Noto Sans CJK JP', 'Yu Gothic UI', 'Yu Gothic', 'Hiragino Kaku Gothic ProN', sans-serif;
}